{% extends 'blog/base_blog.html' %}
{% block title %}
{{post.title}}
{% endblock title %}
{% block content %}
<div>
    <div style="display: flex; justify-content: center; align-items: center; padding: 15px; margin: 15px; border-radius: 10px; background-color: black; max-width: 200px; flex-direction: column;">
        <h3 class="card-title" style="color: white;">{{tag.title}}</h3>
    </div>
    <div>
        {% for post in tag.posts.all %}
        {% include 'blog/includes/card_detail.html' %}
        {% endfor %}
    </div>
</div>
<article>

</article>
{% endblock content %}